body {
  background-color: rgb(255, 254, 245);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #533d31;
}

#courseCard{
  text-align: left;
  background-color: #DAF7A6;
  border: 15px solid #DAF7A6;
  border-radius: 20px;
  padding: 10px;
  margin: 30px;
}

#courseCard:hover{
  border: 15px solid #C6F7A6;
  border-radius: 20px;
  padding: 10px;
  margin: 30px;
}

#deleteButton{
  text-align: center;
}

#gpa{
  background-color: #DAF7A6;
  text-align: center;
  border: 15px solid #DAF7A6;
  border-radius: 20px;
  padding: 10px;
  margin: 30px;
}

#gpaHead{
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
